In [4]:
import yfinance as yf
import pandas as pd
import numpy as np

In [5]:
acao = yf.Ticker("ITUB4.SA")
data = acao.history(period='1y')
df = data[["Close"]]

In [7]:
mm = df.rolling(20).mean()
std = df.rolling(20).std()

In [8]:
sup_band = mm + 2* std
inf_band = mm - 2* std

In [12]:
sup_band = sup_band.rename(columns={"Close":"Superior"})
inf_band = inf_band.rename(columns={"Close":"Inferior"})

In [13]:
bandas_bollinger = df.join(sup_band).join(inf_band)

In [14]:
bandas_bollinger

                               Close   Superior   Inferior
Date
2021-11-01 00:00:00-03:00  23.434345        NaN        NaN
2021-11-03 00:00:00-03:00  23.656881        NaN        NaN
2021-11-04 00:00:00-03:00  22.408726        NaN        NaN
2021-11-05 00:00:00-03:00  22.137812        NaN        NaN
2021-11-08 00:00:00-03:00  22.021704        NaN        NaN
...                              ...        ...        ...
2022-10-26 00:00:00-03:00  28.763290  30.796785  27.522082
2022-10-27 00:00:00-03:00  29.292982  30.685465  27.814028
2022-10-28 00:00:00-03:00  29.522850  30.620826  28.041329
2022-10-31 00:00:00-03:00  30.382349  30.665091  28.232693
2022-11-01 00:00:00-03:00        NaN        NaN        NaN

[251 rows x 3 columns]

In [15]:
bandas_bollinger.dropna(inplace=True)

In [ ]:
compras = bandas_bollinger[bandas_bollinger["Close"]<=bandas_bollinger["Inferior"]]
vendas = bandas_bollinger[bandas_bollinger["Close"]>=bandas_bollinger["Superior"]]