In [2]:
import yfinance as yf
import datetime as dt
import pandas as pd
import numpy as np
from numpy import arange
import matplotlib.pyplot as plt
from pandas import read_csv

In [32]:
ticker ="PETR3.SA"

df = yf.download(ticker)

df = df.tail(20)


pulo = 3
de = 0
ate = 3
df = df.tail(len(df)-(len(df)%pulo))

df = df.reset_index()

lista_diario = list()

[*********************100%***********************]  1 of 1 completed

In [33]:
for i in range(int(len(df)/pulo)):
    
    lista_diario.append(df[de:ate])

    de += pulo
    ate += pulo
        
de = 0
ate = 3

In [36]:
primeiro = lista_diario[0]

In [83]:
abertura = list()
fechamento = list()
maximo = list()
minimo = list()

i = 0
for triario in lista_diario:
    
    abertura.append(triario["Open"][i])
    fechamento.append(triario["Close"][i])
    maximo.append(triario["High"].max())
    minimo.append(triario["Low"].min())
    
    i+=3

In [86]:
triario = zip(abertura,fechamento,minimo,maximo)

pd.DataFrame(triario,columns=["Open","Close","Low","High"])

        Open      Close        Low       High
0  29.879999  30.420000  29.360001  31.490000
1  29.879999  30.520000  29.360001  31.490000
2  30.420000  29.570000  28.660000  30.570000
3  28.990000  29.459999  27.360001  29.870001
4  27.500000  27.840000  27.389999  29.250000
5  28.910000  29.280001  28.730000  30.250000
6  30.000000  30.230000  29.620001  30.440001

In [67]:
triario_list

In [60]:
abertura

29.8799991607666

In [52]:
primeiro

,Date,Open,High,Low,Close,Adj Close,Volume
0,2023-01-23 00:00:00-03:00,29.879999,31.219999,29.650000,30.520000,30.520000,12311000
1,2023-01-24 00:00:00-03:00,30.780001,31.490000,30.010000,30.290001,30.290001,13961700
2,2023-01-25 00:00:00-03:00,30.280001,30.469999,29.360001,30.420000,30.420000,13845800

0    29.879999
1    30.780001
2    30.280001
Name: Open, dtype: float64

range(0, 20)